<footer id="sticky-footer" class="flex-shrink-0  py-2 text-white-50 ">

	<div class="container text-center ">
  <a class="nav-link active " href="{{path('contact.index')}}">contact
	</a>
		<small>Copyright &copy; ComicsStorage</small>
	</div>
	
</footer></body>

