{% extends "base.html.twig" %}

{% block title %} ComicsStorage  - Acceuil
{% endblock %}

{% block body %}
<div class="container mt-4">
 <div class="jumbotron">
   <h1 class="display-4">Bienvenue sur ComicsStorage  !</h1>
   <p class="lead">ComicsStorage est un petit site pour  renseigner vos comics et y acceder a toute heure!</p>
   <hr class="my-4">
   <p>Cliquez sur le bouton inscription pour continuer</p>
   <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/inscription" role="button">Inscription</a>
 </div>
</div>

{% endblock %}