{% extends 'base.html.twig' %}

{% block title %}ComicsStorage -  Series
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not series is same as([])%}

			<h1>Series de la communauté</h1>

			<div class="d-flex justify-content-between flex-wrap mt-4">
				{% for serie in series %}
					<a class="card border-primary mb-3 text-decoration-none " style="max-width: 20rem;" href="http://127.0.0.1:8000/series/{{serie.id}}" role="button">
						<div class="card-header">Serie n°{{ serie.id }}</div>
						<div class="card-body">
							<h4 class="card-title">{{ serie.Nom }}</h4>
							<p class="card-text">{{ serie.description|slice(0, 100) ~ '...'  }}</p>
						</div>
					</a>
				{% endfor %}
			</div>


		{% else %}
			<h4>
				Il n'y a pas de series</h4>
		{% endif %}
	</div>
{% endblock %}


