{% extends 'base.html.twig' %}

{% block title %}
ComicsStorage - Edition Utilisateur
{% endblock %}

{% block body %}
  <div class="container">
   <h1 class= "mt-4"> Formulaire de modification des infos utilisateur</h1>

{% for message in app.flashes('warning') %}
         <div class="alert alert-success mt-4">
          {{ message }}
         </div>
        {% endfor %}

{{ form(form) }}
  </div>
{% endblock %}
