{% extends "base.html.twig" %}

{% block title %} Monprojet - Acceuil
{% endblock %}

{% block body %}
<div class="container">
 <div class="jumbotron">
   <h1 class="display-4">Bienvenue sur ComicsWiki !</h1>
   <p class="lead">ComicsWiki est un petit wiki pour vous renseigner sur les comics qui vous interesse !</p>
   <hr class="my-4">
   <p>Cliquez sur le bouton inscription pour continuer</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
 </div>
</div>

{% endblock %}